module.exports = {
    content: [
        '../../templates/**/*.html',
        '../../jobs/templates/**/*.html', 
        '../../blog/templates/**/*.html',
        './src/**/*.js'
    ],
    theme: {
        extend: {},
    },
    plugins: [],
}